
body {
    background-color: black !important;
    color: white !important;
}

/* nav {
    background-color: rgb(60, 140, 170);
} */

nav a {
    color: white;
}

.header {
    background: url(../img/carousel1.jpg) no-repeat center;
    background-size: cover;
    min-height: 100vh;
  }


