
body {
    background-color: black !important;
    color: white !important;
}

/* nav {
    background-color: rgb(60, 140, 170);
} */

nav a {
    color: white;
}

.header {
    background: url(../img/carousel1.jpg) no-repeat center;
    background-size: cover;
    min-height: 100vh;
  }

#Destacados #Somos #contacto h4 {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 30px;
    text-align: center;
}

.card img {
    width: 290px;
    height: 120px;
}

.card-body {
    background-color: aqua;
    font-size: small;
}

.card {
    width: 90%;
}
