
.colores {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

.navbar-brand {
    color: white;
}

.nav-item a{
    color: white;
}

.header {
    background: url(../img/carousel1.jpg) no-repeat center;
    background-size: cover;
    min-height: 100vh;
  }

section h4 {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 30px;
    text-align: center;
}

.quien-iconos {
    background-color: rgb(38, 158, 179);
    padding: 3px;
    text-align: center;
}

.quien-iconos i {
    color: #ffffff;
}


.card img {
    width: 100%;
    height: 120px;
}

.card-body {
    background-color: rgb(38, 158, 179);
    font-size: small;
}

.card {
    width: 90%;
}
button.btn {
    color: #ffffff;
}

footer {
    background-color:rgb(38, 158, 179);
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer ul {
    word-spacing: ;
}
